html {
    --url: 'https://0036.ml/';
}

html {
    overflow-y: hidden;
}

body {
    overflow-y: scroll;
    width: 100%;
    display: block;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    display: block;
    opacity: 0;
    transition: opacity .4s linear;
}

#wrapper.visible {
    opacity: 1;
}

#header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    top: 0;
    left: 0;
}

#header-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#logo img, #logo svg {
    position: absolute;
    top: 32px;
    left: 75px;
    height: 30px;
    width: auto;
}

#navigation {
    position: absolute;
    height: 30px;
    top: 50%;
    margin-top: -12px;
    left: 120px;
}

.nav-links {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.nav-item a {
    display: blocks;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    #navigation {
        display: none;
    }

    #logo img{
        top: 50%;
        left: 50%;
        margin-top: -18px;
        margin-left: -18px;
        height: 36px;
        width: auto;
        z-index: 100;
    }
}